:host {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding: 6px 0 6px 60px;

  background: 7px center / 35px no-repeat
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><circle cx="60" cy="60" r="50" fill="none" stroke="%23ededed" stroke-width="3"/></svg>');

  &:hover .destroy {
    opacity: 1;
  }

  &.completed {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><circle cx="60" cy="60" r="50" fill="none" stroke="%23bddad5" stroke-width="3"/><path fill="%235dc2af" d="m87 38-5-3-30 46-15-15-4 4 20 20z"/></svg>');

    span {
      color: #d9d9d9;
      text-decoration: line-through;
    }
  }
}

span {
  flex: 1;
  display: flex;
  align-items: center;
}

.destroy {
  width: 2em;
  font-size: 2.2rem;
  text-align: center;

  color: #cc9a9a;
  transition: color 0.2s ease-out;
  opacity: 0;

  &:hover {
    color: #af5b5e;
  }
}