:host {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ededed;

  &:hover .destroy {
    opacity: 1;
  }
}

.checkmark {
  position: relative;
  width: 1.4em;
  height: 1.4em;
  margin: 0.5em;

  &::before, &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &::before {
    border-radius: 50%;
    border: .05em solid #ededed;
  }

  &::after {
    opacity: 0;
    inset: .53em .3em;

    border: 0 solid #5dc2af;
    border-width: 0 0 .08em .08em;
    transform: rotate(-55deg) skewX(-15deg) translate(10%, -10%);
  }
}

input, span {
  flex: 1;
  display: flex;
  align-items: center;
}

input {
  display: none;
}

.destroy {
  width: 2em;
  font-size: 2.2rem;
  text-align: center;

  color: #cc9a9a;
  transition: color 0.2s ease-out;
  opacity: 0;

  &:hover {
    color: #af5b5e;
  }
}

:host.editable {
  box-shadow: inset 0 0 .1em rgba(0,0,0,0.3);
  border: 1px solid black;

  input { display: flex; }
  span { display: none;}
}

:host.completed {
  .checkmark {
    &::before { border-color: #bddad5; }
    &::after { opacity: 1; }
  }

  span {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}
