:host {
  display: flex;
  justify-content: space-evenly;
  color: var(--fgColor);
}

button {
  padding: 3px 7px;

  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    border-color: #a332;
  }
  
  &.selected {
    border-color: #a333;
  }
}
